<a href="https://colab.research.google.com/github/pavass/standav_day1/blob/master/task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Operations on text file

In [0]:
file=open('example.txt','r')

In [2]:
file.read()

'Transforming the enterprise\ngrowth story, powered by\ntechnology and human capital.\n\nAs trailblazers in Quote-to-Cash & Price Management, and experts in Enterprise Sales Transformation, we are now seamlessly leveraging Big Data, Data Science and Blockchain capabilities.\n\nWith a team steered by highly experienced & certified consultants across Salesforce, Big Data, Cloud and Mobile technologies, offices across the globe, and a proven track record of successful project implementations, Standav is well poised to partner enterprises in driving their transformational journeys.'

In [10]:
file.name

'example.txt'

In [11]:
file.mode

'r'

In [3]:
file.closed

False

In [0]:
file.close()

In [5]:
file.closed

True

##Second method to import a text file with context manager

In [19]:
with open('example.txt','r') as file:
  # print(file.readline())
  # print(file.readline())
  # print(file.readlines())
  # for line in file:
  #   print(line,end='')
  size_to_read=100
  f_contents=file.read(size_to_read)
  print(f_contents,end='')
  # f_contents=file.read(size_to_read)
  # print(f_contents,end='')
  while len(f_contents)>0:
    print(f_contents,end='')
    f_contents=file.read(size_to_read)

Transforming the enterprise
growth story, powered by
technology and human capital.

As trailblazers Transforming the enterprise
growth story, powered by
technology and human capital.

As trailblazers in Quote-to-Cash & Price Management, and experts in Enterprise Sales Transformation, we are now seamlessly leveraging Big Data, Data Science and Blockchain capabilities.

With a team steered by highly experienced & certified consultants across Salesforce, Big Data, Cloud and Mobile technologies, offices across the globe, and a proven track record of successful project implementations, Standav is well poised to partner enterprises in driving their transformational journeys.

In [26]:
with open('example.txt','r') as file:
  size_to_read=10
  f_contents=file.read(size_to_read)
  print(f_contents,end='')
  file.seek(0)
  f_contents=file.read(size_to_read)
  #print(file.tell())
  print(f_contents)

TransformiTransformi

##Creating a text file and writing in it

In [0]:
with open('example2.txt','w') as f:
  f.write('test')
  f.seek(0) #getting at the beginning of the file
  f.write('example')

##Reading and writing to multiple files

In [0]:
with open('example.txt','r') as rf:
  with open('example3.txt','w') as wf:
    for line in rf:
      wf.write(line)

In [0]:
file=open('example3.txt','r')

In [33]:
file.read()

'Transforming the enterprise\ngrowth story, powered by\ntechnology and human capital.\n\nAs trailblazers in Quote-to-Cash & Price Management, and experts in Enterprise Sales Transformation, we are now seamlessly leveraging Big Data, Data Science and Blockchain capabilities.\n\nWith a team steered by highly experienced & certified consultants across Salesforce, Big Data, Cloud and Mobile technologies, offices across the globe, and a proven track record of successful project implementations, Standav is well poised to partner enterprises in driving their transformational journeys.'

##Copying a picture file

In [0]:
with open('lena.jpg','rb') as rf:
  with open('lena_copy.jpg','wb') as wf:
    for line in rf:
      wf.write(line)

In [37]:
file=open('lena_copy.jpg','rb')
file.read()

b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00\x00\x01\x00\x01\x00\x00\xff\xdb\x00\x84\x00\t\x06\x07\x10\x10\x12\x15\x10\x10\x10\x16\x10\x15\x15\x15\x10\x16\x15\x15\x15\x16\x10\x15\x10\x10\x15\x15\x15\x16\x16\x15\x15\x15\x15\x18\x1d( \x18\x1a%\x1d\x15\x16!1!%)+...\x17\x1f383-7(-.+\x01\n\n\n\x0e\r\x0e\x1b\x10\x10\x1a-%\x1f%+--------------/--------------------------------/-\xff\xc0\x00\x11\x08\x00\xa8\x01,\x03\x01\x11\x00\x02\x11\x01\x03\x11\x01\xff\xc4\x00\x1c\x00\x00\x01\x05\x01\x01\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x02\x00\x01\x03\x04\x06\x05\x07\x08\xff\xc4\x00>\x10\x00\x01\x04\x00\x04\x04\x03\x05\x06\x03\x06\x07\x00\x00\x00\x00\x01\x00\x02\x03\x11\x04\x05\x12!\x061AQ"aq\x07\x13\x81\x91\xb12b\xa1\xc1\xd1\xf0\x14B\xe1#$C\x83\xa2\xf1\x163Rr\x82\x92\xb2\xff\xc4\x00\x1a\x01\x00\x02\x03\x01\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x02\x01\x03\x04\x05\x06\xff\xc4\x001\x11\x00\x02\x02\x02\x02\x01\x03\x02\x03\x08\x03\x01\x01\x00\x00\x00\x00\x01\x02\x03\x04\x11!1\x12\x05"AQq\x132\x91#Ba\x81\xa1\xb1\xc1\xf0\x143\xd1C\x15\xff\xda\x00\x0c\x03\x01\x00\x02\x11\x03\x11\x00?\x00\xf1$\xe2\x91\xa5$ \x98\x81\xd0\x03 \x07@\x0cP\x00\x94\xac`\x82d+\x1c \x04\x80\x1d\x00$\x00.@!\x94\x12_\xca0fY\x03zuT\xe4[\xf8p\xd9\xbb\xd3\xb1]\xf7%\xf0\xbb7\xb2\x01\x1czF\xdb.\x16\xfc\x99\xeeTTV\x91\xa9\xf6q\x8e1\x9d\x04\xec\xe3c\xd5tpn\xf1\x97\x81\xc6\xf5|Ue~k\xb4n\xf8\x9b*f+\x0e\xe6\x11v\n\xf4\x15O\xc5\xec\xf1\x92G\x9d\xfb0\xc3:\x0cT\xd0\xbfb\xda\xf8\x8d\xe8\xad\x992R\x8ab.\xcd\x0f\x11\xf8qQ\x9f1\xf5^c+\x8b\xa2\xcfe\xe9\x9e\xecI#Z\xef\xb2\xd2\xba\xf0\xe8\xf2w-M\x99_j\xb0k\xc18\xf6\xa3\xf2[p\xdf\xbfFi\x1f>c#\xa3j3*\xd3\xd9l\x19Yr\xda,\x12\x80\x19\xc8$\x89 \xc1\xb52!\x86\xa4Q\x90\x03 \x91 \x01r\x86J\x13T a\xa6 d\x00\xd6\xa0\x02R\x04iI\tI\x03\xa9\x01 \x04\x80\x18\xa0\x01)X\xc1\x04\xc8V:\x00H\x01\xd0\x02@\x02\xe4\x00\xeci&\x80\xb2y\x04\x12nxo+17S\xc58\xf7\\\\\xcb\\\xa5\xa3\xdazV2\xaa\xa4\xfeYg\x1e\xfdN\r\x0b4\x16\x96\xce\x9c\x99\xdc\xcbI\x8fI\x1c\xc5\x151\x93\x8c\xb6\x85\x9c\x14\xe2\xe2\xcfV\xc9q\x82x\x81\x1d\x97\xa4\xc7\xb5N)\x9e\x13;\x1d\xd3kL\xe6\xbf\'\x11\xe3\x04\xed\x15\xa9\xb4|\xf7\xd9m\xf3\xdc4s\x9fg\'\x8d\x05J\xc7y\xfeap\xb3\xf8\x9cY\xeb\xfd\x15\xee\x99#Y\x07\x8a\x16\x9f \xba\xb5>\x11\xe62\x96\xadh\xe2q\xacz\xf0R\x0f\xba\xef\xa2\xd7\x8e\xf54d\x97G\xcfX\xa8\xec.\x9d\xf5\xf9 \x8b9DV\xcb\x81lt\xcb\xc4\xa9$b\x80")G\t\xaaQ\x0c5"\x89\x00\tA"@\x02\xf5\x0c\x94&\xa8@\xc2L@\x90\x00\xa0\x90\xd0@\tI\x1d1\x03\xa0\x04\x80\x12\x00b\x80\x04\xa5c\x04\xd4\xc8V:\x00t\x00\x90\x03\xa0\x01r\x00\xdf{&\xe1\xb1\x8a\x9f\xdf<[\x19\xc8w*\xea\xe3\xc7\x93\x15\xbetox\xdf\x00\xd8\xaaF\x8a\x00Q\\\x8fP\xa7\x9f$z\xdfF\xc9\xf2\x87\x83f\x0b\t\xe3\x92\xd7=\xf0\x8e\xd2{f\x89\x9b$\x1c\xef\xf0\x86o\xee\xa4\xf7n;;\x97\x91]\x0c\x0b\xbce\xe0\xce7\xab\xe2\xabk\xf3]\xa3\xd1\x88\x0e\xa2\xbb\x89\x9e1\xad3\x17\xc7\x8d\xdd\xa7\xcc\xaeW\xa8\xae\x99\xea}\x05\xfbZ4\xb91\xd5\x03}\x07\xd1t({\x8ag\x07\xd4#\xab\xe5\xf79\xdcF\xdb\xc3\xc8>\xeb\xbe\x8bm?\x99\x18%\xd1\xf3\xd4\xa3\x9a\xee>P\x88\xe5c"\xa3k\x91\x99V\x9e\xd1t\x19\\.[E\x82*\x00\x84\xa5\x1c&)B\xb2E$\t\x00\tA#\x04\x00\xcfP\xc1\x0c\xd5\x08\x96\x1ab\x06(\x01\xa9\x04\x84\x82\x00PHJH\x12\x00H\x01 \x06(\x00JV0ML\x85a \x04\x80\x1d\x04\t\x00;".4\xd0I\xec9\xa9I\xbe\x10oG\xaa{\x1d\xccL/v\x19\xe3I;\x8b\xd8\xef\xcc-\xff\x00\x84\xe3Z+\xde\xe5\xb3\xd1\xf8\xbf\x0c$\x81\xcd\xf2+%\xb5)A\xa3n\x1d\xee\xbbS<\xa3*\x80\x82o\x984\xbc\xd5\x8bOG\xbb\xad\xedl\xbd\x89\xc7G\x19\rs\xbcG\x93E\x97\x1f\x80SU\x16Y\xf9QNFm\x18\xff\x00\xf6KO\xe9\xdb\xfd\n\x837c\\\x1du\xa4\xf5"\xf6=\x00\xbbZ\xe1\x834\xf6\xe4\x91\xca\xb7\xd7){Q\x83k\xf9#y\x94\xfbK\xc2i\r\x91\xb2\x0e\x9a\xb4\x8d7\xf3\xb5\xd6\x84\xb4\xb9<\xdd\xce3\x93qZ/\xe3\xf3L\x1ee\x118i\xdb#\x9b\xb9m\xd3\xdb\xea\xd3\xba\xa7*\xb5l\x1aF\xff\x00J\xc9t\xda\x93\xe9\x9d\xce\x167\x03G\x90O\x8c\xff\x00f\x8a}Yk!\x90\xf1\x13?\xb2\x7f\xa1\xfa-\xf5\xbfr9r\xe8\xf9\xe3\x10<N\x1en\xfa\xae\xf4z+)b#\xb1K=\xd0\xf2M\r\x16r\xc8\xad\x97\n\xd8i\xe8\xbf\xb1\x15A$%(\xe15J\x15\x92\x05$\t\x00\t@\t\x04\x82\xf5\x0c\x10\xcdB%\x86\xa4\x81\x8a\x00d\x00H\x00\x12\x92\x12b\x04\x80\x12\x00H\x01\x8a\x00\x14\xac`\xda\x99\n:\x00H\x01\xd0@\x90\x07\xab\xfb!\xe1@\xfb\xc5L\xdb\x07f\x82:wZ+^+eo\x93o\x9e\xf0\x8b}\xe3q8q\xa2Fv\xfea\xd4\x15\xa2\x16\xf1\xa6+\x8f\xd0\xe8B\xe7J\xcax\xa3TR\xc9!\xa0\xde\xf6y\xef\x19D0$\xb8\x0b.\xdc7\xb7K#\xb7\xe8\xb8wa\xf9\xdb\xbf\x8f\x93\xd4W\xea\xca\xbcm~\xf7\xc1\xe6\xec\x99\xf2Hww\x88\xf8\xaf{>{-KIx\xae\x8e\x0c\xe7)\xc9\xcaOm\x9dI!\xd24\xb4i\xeev\xf1z~\x8a\\\xb8\xd2\x15!\x9a\x1c\x0e\xef\xe7^\x89|\x99:A\xe9{H{\x0e\x97\x8d\xc3\xdb\xb3\xaf\xbd\x8f\xf6\xdd<d\x98\xbak\xa3\xd3\xbd\x9c\xf1\xc6\xa20\xd8\xaak\x89\x00?\xec\xd9&\xb7\x1c\xb9\xf5\xdb\x9f\xaa\xb6\t.\x10]d\xac\xe6]\x9b\xac\xf6;\x89\xde\x85h\x87fo\x83\xe7\x1ch\xa9\x1e;=\xdfU\xde\xad\xed"\xb4V\x90&\x9a$\xe6\xe3#\xad\xc2\xe4\xe5\xd5\xfb\xc8\xb6\x0f\xe0\xaeW1\x96"\x15X\xc1\xb52!\x92\x04\x10$\x00\x05\x04\x88 \x06z\x86\x08\x16\xa8D\xb0\xd3\x10"\x80\x05\x00\x1a\x00\x89)!& t\x00\x90\x02@\x0cP\xc0\x12\x95\x8c\x1bS!G@\t\x04\x0e\x80\'\xc1E\xad\xe0U\xee/\xd1$\xe6\xa0\xb6\xcb\xf1\xe8\x95\xd3PG\xd2\\\x19\x8c\x87\xdc1\x8c\xa1@\nVW\x93\x1b\x17\x05\xd9^\x9fe\x0f\x94hg~\xcbDL\r\x1c,\xe34\x8b\t\x19\x9aCB\xe8y\x9a\'\xe8\t\xf8\'lS\xc2\xf3\x8c\xed\xf8\xa9\xdd+\x9c\xeby\xdf~C\xa0\xaa4\x16;\'\xb7\xc1lbw2\\\x8f_ \x1d\xe6y\xfc\x95-\x97(\xec\xed\xff\x00\xc1\x12I\xf6\x8d\x0e\x8a\xb6\xd9b\xac\xb4\xcff\xe0\xfd\xa96\xf3\xe6=\x12\xb9\x8e\xab\xd9\xc6\xcf8:l)\xd6\xc2df\xe4\x81\xcf\xa6\xdf\x80M\x19&W:\xda3\x13\x9d.\x0e\x00\x87zu\xf4\xfd\xf2W\xa9\x94\xb8\x9e\xd3\xc1\xd9\x93\xb18\x10\x1eIs\x18\xd1\xbe\xe7I\x1e\x1d\xfa\xf2>{-\x90{\xd33\xc9h\xf1L\xe1\xbaq\x12\xb7\xef\xb9w)|"\xa2\xa9\n\xf7\xd1\x05wB]\xe1\x00\x92y\x01\xcdf\xb6\x1bZc\'\xa1\x9f\x90b\x1a\xd2\xf3\x19\x00w\xe6\xb8\xb6T\xd1o\x928\xa5d-\r\xa9\x91\x0c\x91\x04\x08\xa0\x01(\x01\x90H\xcfP\xc1\x02\xc4"Y"\x91F($\x14\x00H\x024\xa4\x86\x98\x81 \x04\x80\x12\x00b\x86\x00\x94\xac`\xda\x99\n\x12\x08\x19\x04\x89\x00zw\x02\xf0Sg\x83\xdf\xea\xf1\x1d\xeb\xb2\x8c\x8co8\x1b\xbd;1Qf\xda:Nl\xd8G\xf5m|\x8a\xe0\xb8\xd9\x8f3\xd8)U\x95_\xd4\xef\xe5\x1cb\xd9\x0e\x89\x0e\x93\xf5]\x9c\\\xc5>\x1fg\x9c\xcf\xf4\xa7\x0ft:<\xff\x00\xda?\x12\xff\x00\x159\x89\x86\xe2\x86\xda\xde\xce}x\x9f\xf3$\x7f\xe3\xe6\xb4\xd9=\x9cE\x1eL\xd6W\x832<}z,\xec\xb1\x1e\xcf\xc29v\x96\rTMs\xde\xff\x00\xa2\xaaL\xd1\x18\x9b\\<m\xaeJ\x13\x1bC\xc8\xd5\\\x99dJ\xb3F\x08\xdcXJ1\x81\xe3\x9e\x1bi\x8c\xcd\x0bE\xb3w4\x7f3z\xfcU\x91\x97%6A4M\xec}\xec0\xe2X,\xb9\xaei$\xf2\xd0\xf0t\x81\xe8X\xff\x00\x9a\xe8\xd1-\x9c\xfbV\x8f9\xe2\xa6\xe9\xc6L>\xf7\xe4\xbb\xb4\xbe\x11B\xe8\xbf\xc3\x9c)\x89\xc6\x11\xa5\xa5\x8c\xea\xe2>\x81YfD`\x85\xec\xf5l\x87\x80\xf0\xf8P\x1c[\xa9\xddI\xdc\xae]\xb92\x9b\x1dD\x8f\x8a\xb0Q62H\x00QY\xdc\xf5\xd9uu9\xbd$|\xf3\x9dD\xd6\xcc\xfd\x1c\xac\x90\xb26\x9b\xe0\xbau\xca\xbe$TjdVH\x10@\x90\x00\x94\x00\xc8$g\xa1\x82\x05\xa9Q,\x911\x03\x14\x102\t\x1d\x00F\x94\x90\xd3\x10$\x00\x90\x02@\x0cT\x00)X\xc1\x84\xe2\x8e\x80\x12\x00v\x8bVW\x1f&C5\xfc\'\xc53`H\x00\x97G\xd5\xbd\xbd\x17O\xf0S\x8e\x8a\xbeOY\x8b2\xc2f0\xecE\x91\xe5`\xae}\xf8\x8a\\4m\xc5\xce\x9d/i\x9ew\xc4\xb9c\xb0\xae\xe7\xb1\xbd\'\x91\x1ek\x95\xff\x00\x0f\xf0\xec\xfe\x07n\xefUVP\xd4\x7f3\xe0\xc7J\xcay\x17\xd7\x9fe\xa9\xb3\x80\x8fH\xe0<\x88=\x9a\xdd\xe5\xf1U\xcaZE\xf5\xc53\xd20\x98v\xc6(\nT\xbd\xb2\xfe\x113sX\xdb\xb0\x0e}_\xd8k\x9c>a2Z\xecV\xfe\x85\x19x\xb7\x0e\x1d\xa1\xcc\x95\x87\xef0\x80\xa1\xa42\xd9\xd3l\x8d{C\x9al\x10\x08>ET\xc79\x99\x9b\x08i\xea\x10\x902\xaf\xb3\xdc\x8ca\xdb\x88x\xe5,\xae\xa1\xd86\xeb\xff\x00\xaa\xf8.\xa6?\xe5\xd9\xca\xbf\xf3h\xa8x\x0e\'\xe2\x9f\x88\x9b\xc5d\x10\x0f!\xf0]\x07{Q\xd2(Q6\xb8,<p\xb4\x06\x80\xd0\x16iI\xbe\xd8\xea-\xf0\x8enu\xc4q\xc4\x08\x06\xcfa\xcdc\xbb*\x15|\x9dl?J\xb2\xee_G\x9cg\xf9\x94\xb8\x90C\x8d\x03\xd1r,\xcb\x9c\xdf\xf0=5\x18\x15R\xb8[g\x99g8:\'e\xaf\x1e\xc3\x97\xeaX\xdb[G!\xabz<\xe3%\x08 H\x00J\x00d\x12\x0b\xd0\xc1\x02\xd4\xa8\x96H\x98Q\x8a\x00d\x12:\x00\x8c%$4\xc4\t\x00$\x00\x90\x03\x15\x00\n\x860a2\x14t\x00\x90\x05\x8c;:\xae\x8e5z[+l\xb2\x16\xd1C\xc1f2\xc2\xfdq<\xb4\x8f\x91Y\xac\x99>;=S\x82d8\xe3\xfcL\x80j\x8bK\x18\\\x03\x9a\xd7\xba\xc9\x92\x8fP\x1a\x00?x\xf6\\OP\xb1\xb6\xa3\x13\xa1\x87Z\xe6Ln5\x87\x0b3\xe9\xce\x12\xca\xda\xa9#\xd3\xac\xfd\xd7\x86\x8a>W\xb8\xf9\xac\xf0n<6[b\x8c\xb9\xd1\xdf\xe0|)l[\xddmWWI\xdc\x85\x8cti\x9e\xcb\x15W\xf8\xdaF\xf8\x19.Lw\x13f\x18\xf8u:8m\x8d \x00\xd2K\x88\xeat\xb6\x8f\xe3\xf0S\x18\xa7\xdb&Rk\xa4\x1eC\x99:`}\xe37\x15\xa9\xae!\xc2\x88\x04\x10kq\xbdy\x1b\x1d\x12kO[\x1f{[f\x83\x1f\x8ff\x1e&\xb8\xf8C\x8d4\x0f/\xc9(l\xc9\x7f{s\xcb\xa2\xc4k\xe6\xe3\x14\xa1\xcd\xd4\x0fF\xf6\xf5L\xa6\xbab\xca\x12\xed\x1b\xde\x15\x92\xe0\x06\xaa\xc9u\x1e`\x9e`\xfa\x15\xd3\xa5j\x08\xe6]\xb71gY\xbcP\x0bs\x82\x8b/\x8dk\x96i\xc6\xc1\xb2\xe7\xa4\x8cfc\xc4\xf2K\xb3<#\xbfU\xca\xbb:R\xe2\'\xa6\xc5\xf4\xaa\xea\xe6|\xb3\x8c\xf7\x93\xb96\xb9\xd2\x93ol\xec$\x92\xd2!\x95\xb6\xa0\x1a3y\xf6\x12\xf7\xa5\xa2\x99\xe9\x99r+\xf2\x89\x8c\xc4E\xa5\xcb\xb3T\xb6\x8f\x1b\x97K\xaez\x18+\x0c\x82@\x0cP\x00\xa0\x91\x9c\x86B\x01\xa9P\xcc\x910\xa2(\x00PH\xe8\x020\x94\x90\xd3\x10$\x00\x90\x02@\x02T\x00\xca\x06\r\xa9\x85c\xa0\x02\x8d\xb6U\xd4\xc3\xc9\x90\xd9q\xa2\xb6]X\xad-\x15\t\xe6\x82&\xf4\x81\x01\x18\xddd\x9b,F\xdf\x80\xf1l8\xa6\xe1$y\xf7s\x01\xe1\xbad\x922\xcbX|\x88.\x15\xd4\xe9\x06\xf9.=\xeb|\xa3n<\x92~/\xe4\xf5X\xf2\x06\n%\xa3\x93\x87\xd8kZ\xda;\n\x1dke\x9bF\xa7\xf4\x07\x08\xe7E\xe0\xad\x82m\x10vp\xd2\xf5H\xd8\xca\x04\xf8\x9c0x\xdc\x91\xe8M)dh\xad\x1e_\x1bw"\xfdP\x90\xad\x9c\xde/\xc1{\xd8\xe2\x00\x91O\x07cD\xb6\x8d\xb6\xc7+\xf2\xa4\xef\x86\x88H\xc17.\xc6\xe1\xe6c\x9d)\x96=n\xea\xe2\x1a\xda5\xb3\x89 \xf4\xe7\xf9T\xc9\xc5\xa2!\x19\xa9$\x9e\xf6w\xb0\xdcG##\xd0\x06\xe6\xf7\xe8\x15\x0b6J:H\xee\xafH\xab\xc96q\xf1\xb3:M\xdeK\x8a\xc7d\xe57\xb6\xce\xa5uB\x0bQZ*\xc2R!\x89\x9aR\xb1\xd0\x90\x05<f\x1fP\xaa\xbbS\x1d\xef\x81&\xb8\xe4\xcb\xe6<79\xb3\xa0\x80;\xae\xd64\'\xf2\x8f1\xear\xa9\xf4\xf93.i\x04\x83\xb1\x1b\x15\xac\xe0\x8c\xa0\x06(\x00P\x039\x0c\x10\rJ\x86d\x89\x85\x19\x04\x8c\x80\x1d\x00\x00JH\xe9\x88\x1d\x00$\x00\x90\x00\x95\x04\x8c\xa0\x90\xc2aX\xeaR\xd9\x05\xa8\x19[\xae\x9d\x15\xf8\xad\x88\xd90ZP\xa42:\xd53{\x19\x13a\xdalR\xc5t\xf5\x12\xc8-\xb0\xde\xe3\xa8\xe9%\xa5\xa0\x16\x91`\xb4\xb4\x8a \xf4;\x05\x87E\x9b=\xa3\x838\xee<N\x18\xff\x00\x12H\x9a\x10\xd1#\xabi,;C\xc5uv\x9d\xc7B\x0fJY\xe7\r\x1a\xa1g\x93F\x9c\x00\xed\xc7T\xac\xb1\x12\xb5\xa5\xaa\xb7\xd9r\x90rb\x1cvo\xcf\xcf\xb0\xee\x97\x97\xd1-\xa2\x0c[\xe7\x8fv\x06:\xf9\x97\x97X\xee(\x04\xe9\xf8\x88\xbcdTvl\xd9\xb4\xc7T\xe1WWM\xf4*d\xf6\n+\xe0\x8f?{[\x13\x8f\xddw\xd1V\xfa\x7fb\xca\x97\xed#\xf7_\xdc\xc5\xac\'\xab\x13\x90\xc0\x86\xa8\xa8\x00\xc2\x86J:9nQ,\xe7\xc2\xda\x1d\xcf\xe4\xaf\xa7\x16v}\x8c\x999\xd5P\xb9|\x9b<\xb3\x85\xe3\x8c[\x86\xa7w+\xafN\x14+_\xc4\xf3\x19~\xad;^\x97\x08\xad\xc4XX\xda\xc2M\x01[\xad\xd0_C\x93)7\xcb<\x0b\x89\xd9\x18\x9d\xc63\xb1\xe7\xea\x92\xd8\xe9\x91\x13\x90\xaa\x18b\x80\x19\x00\x0b\x90\xc1\x00\xd4\xa8f\x1ab\x01@\t@\x0e\xa4\x01\tI\x1d1\x03\xa0\x04\x80\x12\x00\x15\x04\x82\xa0\x92@\x98RXYej\xa2\xbd\xbd\x8a\xd9n\x97I!\x06\x90\xa8\x93\xd1\x04K<\x87E\x98\xdd\xa0_U\xcf\xc8\x96\xe5\xa2\xe8.\x01\x95\xd4w\xe7[\xfc\xc2\xa4\r_\xb3\xd2\xd3$\xcc\xff\x00\xa9\xb0\xd7o\x0e\xb2~\xaa\x8b\xbe\x0b\xa8\xfc\xc7\xaed\xd3\xdbCO1\xb1\xf5\x1b*\xdb5D\xec\x80:\xfa\xaa\xc68\x98\xbcl\xb1\xca\x03\xae8\xcdT\x8c\x8d\xd2\x91g}@n\xdf\x91\xe6\xac\x84x\xd8\xcf\x85\xbf\x1d\xff\x002\xdcPM<z\xe0\xc6G0\xd8\x11\xa5\xbc\xc8\x0e\xa7V\xed \x11\xb1\xdft\xce\x0c\x88\xe4U\xbfttpp~\xf0L\xe6K\x18c\xc3Z\xebm\xd3\x85\xec\x7f\xd2~J\x97\x1d\x16I\xc3\x89A\xf0d8\xcf\x8aK\xe7n\x0e3\xb3\\\xd3)\xf3\xb0Dc\xf0\'\xe5\xddX\xab\xf66\xcaU\xff\x00\xb6\x8a_\r\x17\x01\\\xb3\xd8\x8eP\x04\xd8\\\x04\x92\x9aco\xcf\xa2z\xe9\x94\xdf\x08\xa6\xec\x8a\xea[\x9b5\xd9?\n5\xb4\xe9|G\xb7@\xba\xb4\xe0\xa5\xcc\xb9<\xee_\xac\xb7\xed\xaf\x83S\x1c,\x8cl\x00\xa5\xd1\x8c\x12\xe8\xe0\xd9l\xa6\xf6\xd9\xc5\xcfx\xb7\x0f\x85i\xd4\xf1}\xba\x9f\x82\xd1]\x12\x9b)r\xd1\xe3\xbcY\xc6sb\xc9k<\x0c?3\xfa-\xab\x19A\x10\x9bf\x0e[\x07u\xce\xba\x1ae\xa8e\x95\x8c"\xa0\x01(\x00\\\x86\x08\x8d\xa9P\xcc\x911\x00\x95\x002\x82BL@!)#\xa6 t\x00\x90\x02@\x02T\x12\n\x82IZ\x15\x90\x8e\xd8\x8c\xb9\x13h.\xadP\xf1El\x90+\x91\x04N*\x99=\x92<-\xb2\xa9\x9b\xd2c\xc5rX\x87wj\xe7\\\xbb\x0f5\xc9\x93\xdb\xd9\xa1"9\xd9d\x9e\xdf^\x7f\xa2h\xad\x8a\xcd\x17\xb3\xd9k\x12Y\xd5\xed\x00|\x9d\xf9\xd2\xaa\xe5\xc1e/\xdcz\xa3\xcb\xa2\x94<}\x97U\xf9\x1eD\xac\xff\x00\x06\xad\xf2h#\x9c8\r\xd2\x8e)\xe2\xb1\xb8\xb1\xdf\xb2u-\x0e\x9bOh\xe2\xe2\xe3x\xdd\x84\x1a\xe4y=\xbe\x86\xc1\x08\xf2\x1eQ\xaa\x7f\x99h\xe0\xe6y\x9b\xb0X9g\x91\xc5\xf2\xd6\x96\x17\x92\xe7\x17\x1d\xa3\x04\xf35\xcf\xd0\x15)9K\x93=\xb2\x8c\x17\xb3\xa3\xc7\xb2\xe9\x89\x95\xafq\xb2_n\'rK\x8e\xe4\xfc\xd5\xf3\xe9\x99)z\x9a\xfb\xa3\xd3\xe1u\x80\xb8\xadh\xf7U\xbd\xa2h\x88\xb1|\xac_\xa2\x98\xeb|\x8d-\xe9\xe8\xf4\xdc\x96\x18\xbd\xd8,\x03\x90^\x86\x98\xc7\xc7\x83\xc2\xe6\xce\xcf\xc4jE\xf9\x1f@\x90\xb4#\x03<\xab\x8e8\xd7\x13\x1b\x8c,a\x8f\xef\x1eG\xd1t(\xc7\x8b\xe5\x95\xb6\xd9\xe6\xb8\x8cK\xe4v\xa7\xb8\xb8\x9e\xa5n\x8a\xd7Dh\x8d\xe2\xd3Im\x12\x8a8\xa8\xefu\xcf\xc8\xafke\x91eV\x95\xca\x92,\x1c\xaa\xc0\x12\x80\x05\xc8d\x91\x84\xa8\x96\x1ab\x01)Y# \x03L@\x01*%\x84\x98\x81\xd0\x02@\t\x00\x01JH\x90Ig\x0e\xc5\xbf\x1a\xbf\x92\xa92\xd8\x0bzB\x83!Q&\x08\x8dT\xc9&\x85\x8a\x9b\xbf\xebc\xc3\xb0\xda\xea\x1aG\xc7\xcdrK\xc5\xee\xce\x87\x1e\xff\x00\x82n\xb8\x13_\'O\x83]X\xa8\xcfm\xc7\xc3p\x12[\xd1e]\x9e\xe9\x8c\x84\x11\xab\x98?-\xd6]\x9a\xca\xb1@\xf8\xf7f\xe3\xb2;%pt\xf0\xf9\x88\xe4v\xf5\xe8\xa52xg/\x8938 \x88\xcb+\xc3Z9\xf7=\x80\x1dI\xec\x85\x16\xd93\x9aK\x93\xc4\xf8\x93\x88\x9f\x8e\xd4\xe2\x0b"ih\x8d\x9e\xb6\\]\xdd\xc6\x87\xa7.\xf7\xa20Q0\xce~F{\x0c\xe2\x1c\xacei\x9e\x87\x93f:\xc0\xd5\xcf\x91\xf3\xed\x7f\xaa\xe5]V\x9f\x07\xaa\xf4\xec\xcf5\xe3.\xce\xca\xcd\xb3\xb0l833\xff\x00\t\xc7\x97/E\xd6\xc1\xbb\xf7Y\xe7=g\x13\xff\x00\xa26\x12\x1d\xb6]Fy\xa8\xaet\xcc\xdeo\x95\xe1\xf1\xad1\xc8\xd1\xab\xf1MNK\x8b\xec\xb6\xdcf\x97\x92\xe8\xf2.)\xe1)\xb0N&\x8b\xe3\xe8\xe1\xd3\xd5u\xea\xbdO\xeed\xd6\xbb3\xad+J\x029X\xaa\xb2$\xa3\x9d34\x95\xc7\xc8\xaf\xc5\x96\xc5\x82V60*\x00\x17!\x81\x18J\x87$L(\x05)#($4\xe2\x82\x12\x92\xc7R@\x94\x80\x90\x02(\x00R\x92\x14m\xb2\xad\xaa\x1eR\x06\xce\x84m\xa0\xba\xd0\x8aH\xa4"S\xf4\x04NU\xb6\x1a\x10\tI-a\x9b_\x8a\xcd\x93=E\xa2\xc8.H\xdc)\xdf\x13^\x7f\xd0\x05\xccE\xa4\x93\xd9kY\xcbQ\xdc\xf9)\x06Z\xe1\x89\xbf\xbdFyoC\xe3il\xe8j\xfb>\x82\xc1\x1dQ\xb7\xd0}\x16M\x1bW\x04\xae\x86\x86\xcaP\xac\xe3\xe60\x81g\xe0<\x90\xc8G\x92{H\x9c\xbav\xb3U\x862\xea\xf6\xb2j\xeb\xbe\xc5]O[(\xbb\xb3 \xd7\x1d\x04y\xdf\xc5\\R\x1e]\x10s\x85\xf2\xbf\x92\x89=\x13\x15\xb3K\x96;D\xadk\x8e\xc7k\xe9\xbe\xe3\xf1\xa5E\xebp\xda7\xe0MF\xe4\xa5\xd36 \xaeI\xec\x11c\x05\x891<<t?\x82\xb2\xbb\x1c$\xa4WuJ\xd88\xb3\xd42\xbcX\x960\xe1\xbe\xcb\xd1\xd55(\xec\xf0\x99T\xba\xacqg\x03\x8ap\xef\x88\x89\xe2\xd8\x8e~ad\xca\x8c\xa3\xef\x87\xc1\xd5\xf4\xcbab\xfc\x1b:`\xe5\xf9\xb48\xc6{\xb9\x80\xba\xaa)\xf1sT\xbe\xe5Y\xfe\x95*\xfd\xd1\xe8\xc3q\x87\x01:2f\xc3\x0bo2\xdf\xd1w\xe8\xcaO\x86p\xa5\x16\x8c\x14\x91\x91`\x8a#\x98<\xc2\xdf\xc4\x90\xa5\x1cLv\x16\x0b\xeb\xda,\x8b(\x85\xc8\x9ctZ%X\x02\xe4\x12F\x12\xa1\x99"a@*\x19 \xa5$2\x98Q\x82\x82X\xe9\x88\x12\x00t\x00\xc5\x0c\x06\n\x11%\xbc<k\xa3Ez[+l\xb2\x02\xd7\xd0\xa3\xfb\x97\xbb`\xd3\xf2U\xcak\xea\x1a-A\x97\x03\xf6\x9f\xa4\xf6 _\xc0\xf2Yg{]!\xd2E\x91\x87\x81\x9d\xc9\x1d\xf9\xfc\x96i]7\xf3\xfa\x0f\xc1JSg\xed\x1a\xed\xc9P\xd3}\x8c\x99\x1b\x1bo\x17\xfe\xc3\xf4J1g\x15F\xc8\xed^\x83\xbf\xc5F\xc6h~\x1f\xc2\x17\xcb{\x80*\x8fj\xea\x96R\x1a\x11=\xeb\x87\xb1\x1a\xa3\x00\xecF\xce\x1d\x88\xd8\xac\xc6\x93\xa8\xf1\xd1J#g+5\x88\x80\x074\xac\x94\x8f\x0f\xe3\x8d\xf1\x8f\x17t\x1a\x0f\xad\x1b\xfa\xad\x15~S5\xbf\x98\xce\x11\xb7\xc4\xab>J\xc7\xc1\xc8Z\xeb\xf9\xa2\\\x84x;\xbe\xf9\xafh\xe9\xe9\xcd\xa7\xf4U\xf4\xcb~6\x8d\x86Y\x89\x12\xc6\xd7]\x9a\xa7z\x8d\x8a\xe6[W\x8c\x9f\xd0\xf5\xd8\x99J\xda\xa2\xfe~~\xe5\xb0\xaa\xd1\xaf\xc9|\x9a\xae\x0c\xcc\xf4\x9ft\xe3\xe8\xbax\x17~\xeb8^\xb3\x89\xe5\x1f\xc4F\xc7\x19\x87\x124\xb4\xf5]I\xc5Ih\xf3UX\xeb\x96\xd1\xe7y\xc6K.\x1d\xda\x99zn\xc1\x1c\xc2\xe2db\xce\xb7\xe5\x13\xd8\xe1\xe7\xd7\x91\x1f\x19v^\xc98\x93\xfc9\xf7\x1c\xaf\xf5W\xe2\xe7k\xdb#\x1e\x7f\xa4\xa9nu\xfe\x84<S\xc1qb\x9af\x82\x9a\xfa\xbd\xb9\x1fU\xe8\xb1\xb35\xf6<\xad\xb4\xca\x0f\x93\xc9s\\\xb6H\x1eY#KH\xf9\x1fE\xd0mIm\x15\xa6q1\x11\xd1\xb5\xcc\xc8\xafOe\xb1"X\x1a\x18\x17($\x8c%$\x911\x00\x15\x0c\x90R\x92\x19L(!A,% %$\t\x00"\x86\x01\xc2\xcbWS^\xd9\x12e\xe6\x8a]8\xad\x15\x92\xb0\xd2\xcb\x91o>(h\xa2WHv+.\xc6\r\xef\'s\xcd\r\x91\xa2?|\xe09\xd8\xf9\x80\xab\x92C&=j\x17\xd7\xaf\xe5\xfb\xf2U\xbe\x07EG<\x87RV2-\xc3(\x03z=\x87\xe6R\x0f\xb3[\xc1XV\xc8\xd7\xbb\x9b\xac\xb7\xd0\x904\xaa\xac\xde\xd1\xa2\xa4\x9a=?%f\x97\x13\xdc6\xfdF\xc4\xfd\x15[-\xd1\xd4\x16M\xf4\xdf\xfa\x1f\xdft&C\x8f\x05,\xce\xf7#\xb2\x86\xc9H\xf0\x9e*n\x9c\\\xa0\xef\xa5\xc0|t\x83\xf9\xadu\xafa\x8a\xcf\xce\xcc\xe3\xe4\t\xb4#b\x8f\x9a\x18#\xad\x1cb\xac~\xfc\x8aVX\x89p\xd8\xd7\xc4Ac\xab\xb5r#o\x9ax\xc62Z\x92\x17\xf1\'[\xf2\x83\xd3:\x99\x7f\x12\xbd\xaf"C\xa9\xb7G\xbbGp<\xba\xaa\xed\xc5\x84\xa2\xd4{5bg\xca\xbb\x94\xed\xe5\x7fo\xe2k\xf0\xb8\x82\xc75\xed<\xa8\x8f0\xb9\x10\x93\x84\xb7\xf4=\x84\xe3\x1ba\xaf\x86z\x86O\x8d\x12\xc6\x1c;/EM\x8aqL\xf0\xb9\x94:lh\xb3<\rx\xa7\x0bVJ)\xf6Q\x0b%\x07\xb4b\xf8\x87\x85\xc8\xb7\xc5\xf2\xe8\xb9y8[\xe6\x07\xa4\xc0\xf5d\xfd\x96\x1c\xbc\x9f;\x97\x0c\xed\x0f\xb2\xde\xa0\xf3\x0b5\x19S\xa5\xf8\xc8\xdf\x97\x81^L|\xa3\xd9\xa0\xcdr\x8c.g\x17!\xaa\xb6#\x98+\xd0ce\xedm3\xc8\xe5a\xce\x99i\xa3\xc6x\xaf\x86f\xc1\xbc\xb5\xe2\xdb\xfc\xae\xe9\xf1]\t8\xd9\x13"\xe0\xcb\x11[.e\x91\xd3,\x05\xca\x92H\x82Q\x89\x13\x10\x03\x942AJHe0\xa0\x85\x04\xb0\x82\x92\x04\x80\x12\x90\x10\nTv\xc0\xb9\x03)t\xea\x87\x8a+d\xe1[\'\xe2\xb6@\x89\\\xa9=\xbd\x96\x06\xc7X>\x9fD\xbb$\x92\x17X\xddJ\x15\xb1P\xe4\x02\x1e\x81lf]\x80\xaa\x9fE\xb1\xecm!\xc5T\xf6Y\x1d\x0c\xec1\xa0\xf3\xc8s\x1d\x8fD\xbb\xf8\'_&\x93\x82\xf1\xbe\xe3\x10\xc2\x06\xb2\xf3\xf6z:\xb7\xdf\xf2\xf4S(y!\xab\x9f\x8b\xe4\xf6,\xb8\xb1\xe0\xbd\x87ju\xf7\x07\xa8#\xa1\xbbY$\x9a\xec\xdct\xc5\x00\x00I\xb2R\xd9K\x1c\xdb\xf9\xa9\x1fZ>~\xe2|G\xbc\xc5N\xfe\xf2\xc9\xfe\x92[\xf9.\x84\x17\xb1\x1c\x9b^\xe6\xce)\x82\xf7\x1b\xfeJ7\xae\x03[-\xe10\xf6/\x9aF\xc6H\xb6\xd7\x01\xe1\xe4w\xae\xc7\xc9\x04\x94\xcb\xbb\xf7VG\xb2\xb9\r\x1fR\x0f\xcc\x15bb\x1d\xa8\xb3\xc9\x9a\xc61\xa4\r"\xb9\x02M\x13\\\xfc\xa9U\xff\x00\x12\xa9I\xcaK{7\xafU\xc8\x85q\xae\x0fZ_}\xff\x00\xbd\x1b_g\xfcp\x19 \x83\x13M\x0f 6NM\x0e<\x83\x87@{\xab+\xa9U\xf9z*\xbb.Y+V\xa5\xe5\xf5\xfa\xfd\xcf`\x05i05\xa18\x03\xcd\x00\x9e\xba3\xb9\xf7\x0e2a\xa9\xa2\x9d\xddc\xc8\xc4\x8d\x8b\x7f\'_\x07\xd4\xe7K\xd4\xba2\x11K>\nN\xa3\xe8\xe5\xc9N\xcci\x9e\x91\xaas+4\xb2K\x87\xcc"\xd1 \x17\\\x8f0\xbbX\xd9\x8aKi\x9ec7\xd3gS\xda\xe8\xf2>3\xe0\xa90\xa4\xc9\x18\xd5\x1f\xe2\xd5\xb6mMl\xe5\xe9\xae\x19\x8bxYd\xb41\n\xacbD\xc4\x02\xe5\x0c\x94\x02RC)\x85\x04(%\x84\xa4\x81 \x04\xa4\t\xa0b\xd7E\x7f"\xb6[\x0bz\x10g\x15FK\xf6\r\x1e\xc4\xc7.h\xe5\x8c\x1e\x1d\xcfu0z\xf6\x03\xb9B[\x06\xf4O\x8clq\xd3Z\xf2\xe7o\xaa\xf9yWoD\xcd\xe8\x85\xb7\xd9Y\xc7m_\xba\xea\x94\x92J\xa7\r\xd4H\x95\xd9&\x1d\x96\xf1_\xb2\x92K\x81\xe2\xf9\'\xcc\x1e,\x006\xeb\xe7\xb8\xdf\xd5Q\x12\xe9\x0b.\x9b\xdc\xcc\xc9I\xd9\x8ei\xf5\x17\xbd|-_\x1e\x8a~M\xb6h\xecN\x11\x8f\xcc!\xc4\x9a\xd6\xc6{\xaa\xb0\x01$nw\x04}\x9d\xab\xa9\xf5M*\xd3\\\x97y\xca\x1c\xa3Q\xc3|}\x84\x966\xfb\xf7\x88d\xa0<V\x1a\xef0y\x0fKY^6\xba4F\xf4\xfb:\xf9\xce3LfP<!\x85\xf7\xd0\x8a\xb0A\xe5\xf1U\xfe\x0b\xd9o\xe2\xadl\xf9\xdaw\x17x\x8f3d\xfa\x93g\xea\xb7%\xa5\xa3\x94\xde\xf9#\xc2b\x0co\x07\xa1;\x8e\x89%\x1d\xa1\xa3-3\xb3$\xcc\x03a\\\xc1\x03\xa1\xee\xb3\xa4\xd9\xa3h\xa4\xf3d\xfc\x0f\xa7t\xfd\t\xf2G-\x10\xd1\xd7\xeavM\x16$\xc8\\\xc2\xcd\x8f5r\xe4\xac\xed\xe4\xd9g\xf1\x11>\x8e\x97\xb5\xfe\x12y\x10Z<\'\xe5\xcf\xa2\xcd~C\xa6k}5\xfeN\xae\x0e\x02\xcb\xa2Zz\x92|~\x9d?\xf7\x81ar\xa2$\xd1\x89\x8aB\xd2\x0e\xec\xb2=lm\xf0\xda\xfc\x95\xd5\xe4U.|\xbf\xc1\x8a\xdc\x0c\xaa\xde\x9c\x1f\xf2\xe5~\xa8\xf7>\t\xcd\xe3\x9a\x08\xe2\xf7\x85\xcf\x8e64\xea \xbe@\xd0\x07\xbc\xbe\xb7\xd7\xa8\'u\xa9-pe\x93R\xe5\x7f3\xbd. 4\xd1\xd9:[+$\x06\xd409\xf9\xaeU\x1c\xcd \x85M\xb4\xc6\xc5\xa6l\xc6\xcb\x9d2\xdaf\x1b\x1d\x95\xcb\x85v\xa6\xddw\x1d=W\x16\xecy\xd2\xfc\xa3\xd1\xeb1\xb3*\xca\x8f\x8c\xbb.a\xf3VJ\xdfu0\x06\xc5o\xd5l\xc6\xcd\xdf\x129y\xfe\x95\xaf|:<\xbf\x8d8s\xdd<\xbe!m;\xd0]\x06\xd4\x96\xd1\xc1\x95n/L\xc6V

In [0]:
with open('lena.jpg','rb') as rf:
  with open('lena_copy.jpg','wb') as wf:
    chunk_size=4096
    rf_chunk=rf.read(chunk_size)
    while len(rf_chunk)>0:
      wf.write(rf_chunk)
      rf_chunk=rf.read(chunk_size)

##Exporting txt to csv file

In [0]:
import csv

In [0]:
with open('example.txt','r') as in_file:
  stripped=(line.strip() for line in in_file)
  lines=(line.split(",") for line in stripped if line)
  with open('example.csv','w') as out_file:
    writer=csv.writer(out_file)

##WORKING WITH JSON FILE

In [0]:
import json

In [0]:
states_list='''{
  "states": [
    {
      "name": "Alabama",
      "abbreviation": "AL"
    },
    {
      "name": "Alaska",
      "abbreviation": "AK"
    },
    {
      "name": "Arizona",
      "abbreviation": "AZ"
    },
    {
      "name": "Arkansas",
      "abbreviation": "AR"
    },
    {
      "name": "California",
      "abbreviation": "CA"
    },
    {
      "name": "Colorado",
      "abbreviation": "CO"
    },
    {
      "name": "Connecticut",
      "abbreviation": "CT"
    },
    {
      "name": "Delaware",
      "abbreviation": "DE"
    },
    {
      "name": "Florida",
      "abbreviation": "FL"
    },
    {
      "name": "Georgia",
      "abbreviation": "GA"
    },
    {
      "name": "Hawaii",
      "abbreviation": "HI"
    },
    {
      "name": "Idaho",
      "abbreviation": "ID"
    },
    {
      "name": "Illinois",
      "abbreviation": "IL"
    },
    {
      "name": "Indiana",
      "abbreviation": "IN"
    },
    {
      "name": "Iowa",
      "abbreviation": "IA"
    },
    {
      "name": "Kansas",
      "abbreviation": "KS"
    },
    {
      "name": "Kentucky",
      "abbreviation": "KY"
    },
    {
      "name": "Louisiana",
      "abbreviation": "LA"
    },
    {
      "name": "Maine",
      "abbreviation": "ME"
    },
    {
      "name": "Maryland",
      "abbreviation": "MD"
    },
    {
      "name": "Massachusetts",
      "abbreviation": "MA"
    },
    {
      "name": "Michigan",
      "abbreviation": "MI"
    },
    {
      "name": "Minnesota",
      "abbreviation": "MN"
    },
    {
      "name": "Mississippi",
      "abbreviation": "MS"
    },
    {
      "name": "Missouri",
      "abbreviation": "MO"
    },
    {
      "name": "Montana",
      "abbreviation": "MT"
    },
    {
      "name": "Nebraska",
      "abbreviation": "NE"
    },
    {
      "name": "Nevada",
      "abbreviation": "NV"
    },
    {
      "name": "New Hampshire",
      "abbreviation": "NH"
    },
    {
      "name": "New Jersey",
      "abbreviation": "NJ"
    },
    {
      "name": "New Mexico",
      "abbreviation": "NM"
    },
    {
      "name": "New York",
      "abbreviation": "NY"
    },
    {
      "name": "North Carolina",
      "abbreviation": "NC"
    },
    {
      "name": "North Dakota",
      "abbreviation": "ND"
    },
    {
      "name": "Ohio",
      "abbreviation": "OH"
    },
    {
      "name": "Oklahoma",
      "abbreviation": "OK"
    },
    {
      "name": "Oregon",
      "abbreviation": "OR"
    },
    {
      "name": "Pennsylvania",
      "abbreviation": "PA"
    },
    {
      "name": "Rhode Island",
      "abbreviation": "RI"
    },
    {
      "name": "South Carolina",
      "abbreviation": "SC"
    },
    {
      "name": "South Dakota",
      "abbreviation": "SD"
    },
    {
      "name": "Tennessee",
      "abbreviation": "TN"
    },
    {
      "name": "Texas",
      "abbreviation": "TX"
    },
    {
      "name": "Utah",
      "abbreviation": "UT"
    },
    {
      "name": "Vermont",
      "abbreviation": "VT"
    },
    {
      "name": "Virginia",
      "abbreviation": "VA"
    },
    {
      "name": "Washington",
      "abbreviation": "WA"
    },
    {
      "name": "West Virginia",
      "abbreviation": "WV"
    },
    {
      "name": "Wisconsin",
      "abbreviation": "WI"
    },
    {
      "name": "Wyoming",
      "abbreviation": "WY"
    }
  ]
}'''

In [75]:
data=json.loads(states_list)
print(data)

{'states': [{'name': 'Alabama', 'abbreviation': 'AL'}, {'name': 'Alaska', 'abbreviation': 'AK'}, {'name': 'Arizona', 'abbreviation': 'AZ'}, {'name': 'Arkansas', 'abbreviation': 'AR'}, {'name': 'California', 'abbreviation': 'CA'}, {'name': 'Colorado', 'abbreviation': 'CO'}, {'name': 'Connecticut', 'abbreviation': 'CT'}, {'name': 'Delaware', 'abbreviation': 'DE'}, {'name': 'Florida', 'abbreviation': 'FL'}, {'name': 'Georgia', 'abbreviation': 'GA'}, {'name': 'Hawaii', 'abbreviation': 'HI'}, {'name': 'Idaho', 'abbreviation': 'ID'}, {'name': 'Illinois', 'abbreviation': 'IL'}, {'name': 'Indiana', 'abbreviation': 'IN'}, {'name': 'Iowa', 'abbreviation': 'IA'}, {'name': 'Kansas', 'abbreviation': 'KS'}, {'name': 'Kentucky', 'abbreviation': 'KY'}, {'name': 'Louisiana', 'abbreviation': 'LA'}, {'name': 'Maine', 'abbreviation': 'ME'}, {'name': 'Maryland', 'abbreviation': 'MD'}, {'name': 'Massachusetts', 'abbreviation': 'MA'}, {'name': 'Michigan', 'abbreviation': 'MI'}, {'name': 'Minnesota', 'abbreviation': 'MN'}, {'name': 'Mississippi', 'abbreviation': 'MS'}, {'name': 'Missouri', 'abbreviation': 'MO'}, {'name': 'Montana', 'abbreviation': 'MT'}, {'name': 'Nebraska', 'abbreviation': 'NE'}, {'name': 'Nevada', 'abbreviation': 'NV'}, {'name': 'New Hampshire', 'abbreviation': 'NH'}, {'name': 'New Jersey', 'abbreviation': 'NJ'}, {'name': 'New Mexico', 'abbreviation': 'NM'}, {'name': 'New York', 'abbreviation': 'NY'}, {'name': 'North Carolina', 'abbreviation': 'NC'}, {'name': 'North Dakota', 'abbreviation': 'ND'}, {'name': 'Ohio', 'abbreviation': 'OH'}, {'name': 'Oklahoma', 'abbreviation': 'OK'}, {'name': 'Oregon', 'abbreviation': 'OR'}, {'name': 'Pennsylvania', 'abbreviation': 'PA'}, {'name': 'Rhode Island', 'abbreviation': 'RI'}, {'name': 'South Carolina', 'abbreviation': 'SC'}, {'name': 'South Dakota', 'abbreviation': 'SD'}, {'name': 'Tennessee', 'abbreviation': 'TN'}, {'name': 'Texas', 'abbreviation': 'TX'}, {'name': 'Utah', 'abbreviation': 'UT'}, {'name': 'Vermont', 'abbreviation': 'VT'}, {'name': 'Virginia', 'abbreviation': 'VA'}, {'name': 'Washington', 'abbreviation': 'WA'}, {'name': 'West Virginia', 'abbreviation': 'WV'}, {'name': 'Wisconsin', 'abbreviation': 'WI'}, {'name': 'Wyoming', 'abbreviation': 'WY'}]}

In [76]:
print(type(data))

<class 'dict'>

In [77]:
print(type(data['states']))

<class 'list'>

In [78]:
for states in data['states']:
  print(states['name'])

Alabama
Alaska
Arizona
Arkansas
California
Colorado
Connecticut
Delaware
Florida
Georgia
Hawaii
Idaho
Illinois
Indiana
Iowa
Kansas
Kentucky
Louisiana
Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana
Nebraska
Nevada
New Hampshire
New Jersey
New Mexico
New York
North Carolina
North Dakota
Ohio
Oklahoma
Oregon
Pennsylvania
Rhode Island
South Carolina
South Dakota
Tennessee
Texas
Utah
Vermont
Virginia
Washington
West Virginia
Wisconsin
Wyoming

##dump a python object into json string

In [79]:
for states in data['states']:
  del states['name']
new_string=json.dumps(data)
print(new_string)

{"states": [{"abbreviation": "AL"}, {"abbreviation": "AK"}, {"abbreviation": "AZ"}, {"abbreviation": "AR"}, {"abbreviation": "CA"}, {"abbreviation": "CO"}, {"abbreviation": "CT"}, {"abbreviation": "DE"}, {"abbreviation": "FL"}, {"abbreviation": "GA"}, {"abbreviation": "HI"}, {"abbreviation": "ID"}, {"abbreviation": "IL"}, {"abbreviation": "IN"}, {"abbreviation": "IA"}, {"abbreviation": "KS"}, {"abbreviation": "KY"}, {"abbreviation": "LA"}, {"abbreviation": "ME"}, {"abbreviation": "MD"}, {"abbreviation": "MA"}, {"abbreviation": "MI"}, {"abbreviation": "MN"}, {"abbreviation": "MS"}, {"abbreviation": "MO"}, {"abbreviation": "MT"}, {"abbreviation": "NE"}, {"abbreviation": "NV"}, {"abbreviation": "NH"}, {"abbreviation": "NJ"}, {"abbreviation": "NM"}, {"abbreviation": "NY"}, {"abbreviation": "NC"}, {"abbreviation": "ND"}, {"abbreviation": "OH"}, {"abbreviation": "OK"}, {"abbreviation": "OR"}, {"abbreviation": "PA"}, {"abbreviation": "RI"}, {"abbreviation": "SC"}, {"abbreviation": "SD"}, {"abbreviation": "TN"}, {"abbreviation": "TX"}, {"abbreviation": "UT"}, {"abbreviation": "VT"}, {"abbreviation": "VA"}, {"abbreviation": "WA"}, {"abbreviation": "WV"}, {"abbreviation": "WI"}, {"abbreviation": "WY"}]}

In [0]:
with open('example_2.json') as f:
  data=json.load(f)

In [82]:
for state in data['states']:
  #print(state)
  print(state['name'],state['abbreviation'])

Alabama AL
Alaska AK
Arizona AZ
Arkansas AR
California CA
Colorado CO
Connecticut CT
Delaware DE
Florida FL
Georgia GA
Hawaii HI
Idaho ID
Illinois IL
Indiana IN
Iowa IA
Kansas KS
Kentucky KY
Louisiana LA
Maine ME
Maryland MD
Massachusetts MA
Michigan MI
Minnesota MN
Mississippi MS
Missouri MO
Montana MT
Nebraska NE
Nevada NV
New Hampshire NH
New Jersey NJ
New Mexico NM
New York NY
North Carolina NC
North Dakota ND
Ohio OH
Oklahoma OK
Oregon OR
Pennsylvania PA
Rhode Island RI
South Carolina SC
South Dakota SD
Tennessee TN
Texas TX
Utah UT
Vermont VT
Virginia VA
Washington WA
West Virginia WV
Wisconsin WI
Wyoming WY

##Writing to a json file

In [0]:
for state in data['states']:
  del state['area_codes']
with open('new_states.json','w') as f:
  json.dump(data,f)

##Exporting json to csv file

In [0]:
import csv
import json
import pandas as pd

In [0]:
infile=open('new_states.json','r')
outfile=open('new_states_2.csv','w')
writer=csv.writer(outfile)
for row in json.loads(infile.read()):
  writer.writerow(row)

In [0]:
#using pandas
import pandas as pd
df=pd.read_json('new_states.json')
df.to_csv('demo.csv',index=None)

In [109]:
demo=pd.read_csv('demo.csv')
demo.head()

                                         states
0     {'name': 'Alabama', 'abbreviation': 'AL'}
1      {'name': 'Alaska', 'abbreviation': 'AK'}
2     {'name': 'Arizona', 'abbreviation': 'AZ'}
3    {'name': 'Arkansas', 'abbreviation': 'AR'}
4  {'name': 'California', 'abbreviation': 'CA'}

##Working with CSV file

In [93]:
import pandas as pd
raw_csv_data=pd.read_csv('/content/original (1).csv')
raw_csv_data

     ID  Reason for Absence  ... Pets  Absenteeism Time in Hours
0    11                  26  ...    1                          4
1    36                   0  ...    0                          0
2     3                  23  ...    0                          2
3     7                   7  ...    0                          4
4    11                  23  ...    1                          2
..   ..                 ...  ...  ...                        ...
695  17                  10  ...    0                          8
696  28                   6  ...    2                          3
697  18                  10  ...    0                          8
698  25                  23  ...    0                          2
699  15                  28  ...    1                          2

[700 rows x 12 columns]

In [0]:
df=raw_csv_data.copy()

In [99]:
df.head()

   ID  Reason for Absence  ... Pets  Absenteeism Time in Hours
0  11                  26  ...    1                          4
1  36                   0  ...    0                          0
2   3                  23  ...    0                          2
3   7                   7  ...    0                          4
4  11                  23  ...    1                          2

[5 rows x 12 columns]

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    object
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB

In [96]:
df.shape

(700, 12)

In [97]:
df.columns

Index(['ID', 'Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average', 'Body Mass Index',
       'Education', 'Children', 'Pets', 'Absenteeism Time in Hours'],
      dtype='object')

In [98]:
df.isnull().sum()

ID                           0
Reason for Absence           0
Date                         0
Transportation Expense       0
Distance to Work             0
Age                          0
Daily Work Load Average      0
Body Mass Index              0
Education                    0
Children                     0
Pets                         0
Absenteeism Time in Hours    0
dtype: int64

##Exporting csv to json using pandas

In [0]:
import pandas as pd
df=pd.read_csv('/content/original (1).csv')
df.to_json('new_original_jsonfile.json')

In [101]:
pd.read_json('new_original_jsonfile.json')

     ID  Reason for Absence  ... Pets  Absenteeism Time in Hours
0    11                  26  ...    1                          4
1    36                   0  ...    0                          0
2     3                  23  ...    0                          2
3     7                   7  ...    0                          4
4    11                  23  ...    1                          2
..   ..                 ...  ...  ...                        ...
695  17                  10  ...    0                          8
696  28                   6  ...    2                          3
697  18                  10  ...    0                          8
698  25                  23  ...    0                          2
699  15                  28  ...    1                          2

[700 rows x 12 columns]

##Importing xlsx file

In [0]:
import pandas as pd

file=pd.ExcelFile('/content/file_example_XLSX_50.xlsx')

In [111]:
type(file)

pandas.io.excel._base.ExcelFile

In [112]:
file.sheet_names

['Sheet1']

In [0]:
df1=file.parse('Sheet1')

In [115]:
df1.head()

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468

##Exporting XLSX file

In [0]:
read_file=pd.read_excel('file_example_XLSX_50.xlsx')
read_file.to_csv('demo2.csv',index=None,header=True)

In [118]:
df=pd.read_csv('demo2.csv')
df.head(10)

    0 First Name  Last Name  Gender        Country  Age        Date    Id
0   1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1   2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2   3     Philip       Gent    Male         France   36  21/05/2015  2587
3   4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4   5    Nereida    Magwood  Female  United States   58  16/08/2016  2468
5   6     Gaston      Brumm    Male  United States   24  21/05/2015  2554
6   7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
7   8    Earlean     Melgar  Female  United States   27  16/08/2016  2456
8   9   Vincenza    Weiland  Female  United States   40  21/05/2015  6548
9  10     Fallon    Winward  Female  Great Britain   28  16/08/2016  5486